*,
body,
html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: wingdings;
}

h1 {
  font-size: 5rem;
}
h2 {
  font-size: 3rem;
}

@keyframes hvr-buzz {
  50% {
    transform: translateX(3px) rotate(2deg);
  }
  100% {
    transform: translateX(-3px) rotate(-2deg);
  }
}
.gun {
  display: inline-block;
  max-width: 30%;
  max-height: 30%;
  vertical-align: middle;
  transition-duration: 0.5s;
  transform: perspective(1px) translateZ(0);
}
.gun:hover {
  animation-name: hvr-buzz;
  animation-duration: 0.15s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.gaster {
  max-width: 5%;
  max-height: 5%;
  opacity: 0;
}
.gaster:hover {
  animation: fadeIn 5s;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

form {
  font-size: 3rem;
}
#box {
  font-size: 3rem;
}

.contain {
  display: flex;
  flex-flow: row wrap;
  padding: 20px 20px;
  margin: 40px 40px;
  justify-content: center;
  row-gap: 50px;
  align-content: center;
  border-radius: 15px;
  text-align: center;
  background-color: #f2f2f2;
  box-shadow: 0px 12px 22px 4px #202e42;
}

.user {
  max-width: 200%;
  max-height: 200%;
  align-content: center;
}

h3 {
  font-size: 5rem;
}
