*,
body,
html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}

h1 {
  font-size: 5rem;
}
h2 {
  font-size: 3rem;
}

@keyframes hvr-buzz {
  50% {
    transform: translateX(3px) rotate(2deg);
  }
  100% {
    transform: translateX(-3px) rotate(-2deg);
  }
}
.gun {
  display: inline-block;
  max-width: 30%;
  max-height: 30%;
  vertical-align: middle;
  transition-duration: 0.5s;
  transform: perspective(1px) translateZ(0);
}
.gun:hover {
  animation-name: hvr-buzz;
  animation-duration: 0.15s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.gaster {
  display: inline-block;
  max-width: 15%;
  max-height: 15%;
  vertical-align: middle;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
@keyframes boo {
  50% {
    transform: scale(3);
  }
}
.gaster:hover,
.gaster:focus,
.gaster:active {
  animation-name: boo;
  animation-duration: 0.3s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
}
.WD {
  font-size: 2rem;
}

form {
  font-size: 3rem;
}
#box {
  font-size: 3rem;
}

.contain {
  border-radius: 15px;
  text-align: justify;
  font-size: 3rem;
  height: 35rem;
  width: 40rem;
  margin: 20px 100px;
  padding: 25px 15px;
  background-color: #f2f2f2;
  box-shadow: 0px 12px 22px 4px #202e42;
  border-style: solid;
  border-width: 5px;
  align-items: center;
}

.user {
  max-width: 50%;
  max-height: 50%;
  display: flex;
  vertical-align: middle;
}

h3 {
  font-size: 3rem;
  flex-direction: column;
  justify-content: center;
}

label {
  font-size: 2rem;
}
input {
  font-size: 2rem;
}
